





<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>


<br>
<br>
<br>
<div id="player_div">

  <span id="show_player">
    <% if @playersong %>
    <audio src="<%= @playersong.attachment_url %>" controls="controls" autoplay="true"> your browser does not support html5 audio </audio>
    <% end %>
  </span>

  <span id="now_playing"> 
    <% if @playersong %>
      <span id="NP"> Now Playing:  </span> <span id="NP_info">"<%= @playersong.artist %> - <%= @playersong.track %>" </span>
    <%end%>
  </span>


<span id="search_box">
  <%= form_tag search_songs_path do %>
    <%= text_field_tag 'search', nil, placeholder: 'Search music...' %>
    <%= submit_tag "Search"  %>
  <%end%>
</span>
</div>


<div id="song_index">

<table id="song_table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="cell">Artist</th>
      <th class="cell">Track</th>
      <th class="cell">Album</th>
      <th class="short_cell">Play</th>
      <th class="medium_cell">Download Link</th>
      <th class="short_cell">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.artist %> </td>
        <td><%= song.track %> </td>
        <td><%= song.album %> </td>
        <td class="play_link"><%= link_to "Play", play_path(song)%></td>
        <td class="play_link"><%= link_to "Download Song", song.attachment_url %> </td>
        <td class="play_link"><%= button_to "Delete",  song, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{song.name}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>



